<th:block xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:fragment="end">
	<!-- jQuery Plugins -->
	<script th:src="@{/ad-st/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/ad-st/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/ad-st/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<script th:src="@{/ad-st/dist/js/adminlte.min.js}"></script>
	<script th:src="@{/ad-st/dist/js/demo.js}"></script>
</th:block>