<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8"/>
  <title th:text="${title}">Trang quản trị nội dung</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
  	  <link rel="stylesheet" th:href="@{/ad-st/plugins/fontawesome-free/css/all.min.css}"/>
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
      <link rel="stylesheet" th:href="@{/ad-st/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}"/>
      <link rel="stylesheet" th:href="@{/ad-st/dist/css/adminlte.min.css}"/>
      <link rel="stylesheet" th:href="@{/ad-st/dist/css/styles.css}"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"/>
      <th:block layout:fragment="custom_css" />
  </head>
</head>