<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{adminlayout}"
      with:title="'Tạo mới danh mục sản phẩm'">
	<th:block layout:fragment="content">
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Thêm/Sửa danh mục</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="/admin/category">Danh sách danh mục</a></li>
	              <li class="breadcrumb-item active">Thêm / Sửa</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>
		<form role="form" th:action="@{'/admin/category/' + ${category.id == null ? 'create' : 'update?id=' + category.id}}" th:object="${category}" method="POST">
           <div class="card-body">
             <div class="form-group">
               <label>Tên danh mục</label>
               <input th:field="*{name}" type="text" class="form-control" placeholder="Nhập tên danh mục">
               <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameHelp" class="form-text text-muted"></small>
             </div>
             <div class="form-group">
               <label>Tiêu đề</label>
               <input th:field="*{title}" type="text" class="form-control" placeholder="Nhập tiêu đề">
             </div>
             <div class="form-group">
               <label>Mô tả</label>
               <textarea th:field="*{desc}" rows="5" class="form-control" placeholder="Nhập mô tả"></textarea>
             </div>
             <div class="form-group">
               <label for="exampleInputFile">Icon</label>
               <div class="input-group">
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" id="exampleInputFile">
                   <label class="custom-file-label" for="exampleInputFile">Tải file icon</label>
                 </div>
               </div>
             </div>
             <div class="form-group">
                <label>Trạng thái</label>
                <select th:field="*{status}" class="custom-select">
                  <option value="1">Kích hoạt</option>
                  <option value="0">Ngưng</option>
                </select>
             </div>
             <div class="form-group">
                <label>Danh mục cha</label>
                <select th:field="*{parentId}" class="custom-select">
                  <option value="0">- Danh mục cha -</option>
                  <option th:each="category : ${listCategory}" 
                  		th:value="${category.id}"
                  		th:text="${category.name}"></option>
                </select>
             </div>
           </div>
           <div class="card-footer">
             <button type="submit" class="btn btn-primary">Submit</button>
           </div>
         </form>
	</th:block>
</html>